<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Audio - Bandlab's Test</title>
    
    <link rel="stylesheet" href="/style.css">
    
    <script src="/audio.js" defer></script>
  </head>  
  <body class="container">
    <nav>
      <header>
        <h1 class="title">
          Bandlab's Test
        </h1>
      </header>
      <ul>
        <li><a href="/">Data</a></li>
        <li><a class="activeNav" href="/audio">Audio</a></li>
      </ul>
    </nav>
    <main class="main">      
    </main>
  </body>
  <footer class="footer">
    <a
      href="https://vishaag.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Submitted by Vishaag
<!--           <img src="https://cdn.glitch.com/4e50828f-2334-4cbc-b0c4-492bec73342e%2Fvishaag-logo.png" alt="Vishaag Logo"  class="logo"/> -->
    </a>
  </footer>
</html>
