<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Data - Bandlab's Test</title>
    
    <link rel="stylesheet" href="/style.css">
    
    <script src="/script.js" defer></script>
  </head>  
  <body class="container">
    <nav>
      <header>
        <h1 class="title">
          Bandlab's Test
        </h1>
      </header>
      <ul>
        <li><a class="activeNav" href="/">Data</a></li>
        <li><a href="/audio">Audio</a></li>
      </ul>
    </nav>
    <main class="main">
      <div class="filters">
        <button class="sortBtn" id="sortBtn">Sort Title ▲</button>
        <div class="groupByDiv">
          <label for="groupBy">Group By User ID</label>
          <select name="groupBy" id="groupBy">
            <option value="">All</option>        
          </select>
        </div>
      </div>
      <div class="grid" id="grid">
      </div>
    </main>
  </body>
  <footer class="footer">
    <a
      href="https://vishaag.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Submitted by Vishaag
    </a>
  </footer>
</html>
